extends ../layout

block content
    h1.
         #{title}
    ul
        - each preference, i in preferences
            li
                = preference.name+' '
                = preference.badge+' '
                = preference.dob+' '
                = preference.isloved+' '
                = preference._id
                form(action='/preferences/#{preference._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/preferences/#{preference._id}/edit') Edit
                p
                    a(href='/preferences/#{preference._id}') Show