h3 Configuration

table.table.table-striped
  thead
    td Id
    td First Name
    td Last Name
    td Age
    td Actions
  tbody
    tr(ng-repeat="contact in confs")
      td {{contact._id}}
      td {{contact.firstname}}
      td {{contact.lastname}}
      td {{contact.age}}
      td
        a(href="/conf/{{contact._id}}") Show
        a(href="/conf/{{contact._id}}/edit") Edit


button.btn.btn-success(ng-click="new()") New Conf
