extends layout

block content
  div.container
    div.jumbotron
      h4= title
      p #{what}
      //script.
       //function myFunction(){
        //alert('myFunction');
        //document.innerHTML = '';
       //}
       //myFunction();
      
