extends layout
block extra_js
  script(src='/javascripts/main.js')
block content
  div.container
    div.jumbotron
      p Update Interval
      span#update_int_lbl
      div#update_int
      div#legend
      div#testflot
       |loading data
    