extends layout
block extra_js
  script(src='/javascripts/index.js')
  
  
block content
  //#main.container-fluid(data-ng-controller='MainCtrl', data-ng-cloak='')
  #main.container
   ng-view  
      