extends layout
block extra_js
  script(src='/javascripts/index.js')
  //script(src='/javascripts/jsgpio-client.js')
  script(src='/javascripts/bootstrap-toggle.min.js')
  script(src='/javascripts/jquery.dynameter.js')
  link(rel='stylesheet', href='/stylesheets/jquery.dynameter.css')
  
block content
  div.container
    div.row
     div.col-xs-2
      .panel.panel-default
       .panel-heading Sensors
       .panel-body
        div.caption Indoor
         .legend
     div.col-xs-2
      .panel.panel-default
       .panel-heading Water
       .panel-body
        div.caption Inside
         .legendWaterData
     div.col-xs-2
      .panel.panel-default
       .panel-heading Light
       .panel-body
        div.caption Luminosity
         .lightWaterData
     div.col-xs-2
      .panel.panel-default
       .panel-heading Lights
       .panel-body 
        .checkbox
         label
          input#lights(type='checkbox', data-toggle='lights-toggle')
     div.col-xs-2
      .panel.panel-default
       .panel-heading Fans
       .panel-body 
        .checkbox
         label
          input#fans(type='checkbox', data-toggle='fans-toggle')
     div.col-xs-2
      .panel.panel-default
       .panel-heading Auto
       .panel-body 
        .checkbox
         label
          input#mode(type='checkbox', data-toggle='mode-toggle')
     div(id='payloadMeterDiv')
     
      
         
