
extends layout
block extra_js
  script(src='/javascripts/index.js')
  script(src='/javascripts/bootstrap-toggle.min.js')
  link(rel='stylesheet', href='/stylesheets/camera.css')
  script(src='/javascripts/JSXTransformer-0.13.3.js')
  script(src='/javascripts/react-0.13.3.js')
  script(src='/javascripts/react-webcam.js')
  
block content
    div.container
      .col-sm-6.col-sm-offset-3
        h1
          span.fa.fa-sign-in
          |  Login
        form(action='/login', method='post')
          .form-group
            label Username
            input.form-control(type='text', name='username')
          .form-group
            label Password
            input.form-control(type='password', name='password')
          button.btn.btn-warning.btn-lg(type='submit') Login