extends layout
block extra_js
  script(src='/javascripts/index.js')
  script(src='/javascripts/bootstrap-toggle.min.js')
  link(rel='stylesheet', href='/stylesheets/camera.css')
  script(src='/javascripts/JSXTransformer-0.13.3.js')
  script(src='/javascripts/react-0.13.3.js')
  script(src='/javascripts/react-webcam.js')
  
block content
  div.container
    div.row
     div.col-xs-2
      .panel.panel-default
       .panel-heading Auto
       .panel-body 
        .checkbox
         label
          input#mode(type='checkbox', data-toggle='mode-toggle')
     div.col-xs-2
      .panel.panel-default
       .panel-heading Lights
       .panel-body 
        .checkbox
         label
          input#lights(type='checkbox', data-toggle='lights-toggle')
     div.col-xs-2
      .panel.panel-default
       .panel-heading Fans
       .panel-body 
        .checkbox
         label
          input#fans(type='checkbox', data-toggle='fans-toggle')
    div.row
     div.col-xs-2
      .panel.panel-default
       .panel-heading Sensors
       .panel-body
        div.caption Indoor
         .legend
        div.caption Water
         .legendWaterData
        div.caption Water2
         .legendWater2Data
        div.caption Luminosity
         .lightData
     div.col-xs-8
      button.btn.btn-info.start(type='button', id='', onclick='startStream()') Start Camera
      .row
       img#stream
     div.col-xs-4
      h6#legend
      h5#update_int
      p Update Interval
      span#update_int_lbl
      br
      button.btn.btn-info.start(type='button', id='whole' onclick='getWhole()') whole period
      div#testflot|loading data
