extends layout
block extra_js
  script(src='/javascripts/index.js')

block content
  div.container.text-center
    div.row
      div.col-md-4.col-md-offset-4
        form.form-signin(action='/login', method='post')
          h2.form-signin-heading H Y D R A
            input.form-control(type='text', name='username', placeholder='username', required='', autofocus='')
            input.form-control(type='password', name='password', placeholder='Password', required='')
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
