extends layout
block extra_js
  script(src='/javascripts/index.js')
  script(src='/javascripts/bootstrap-toggle.min.js')
  link(rel='stylesheet', href='/stylesheets/camera.css')
  script(src='/javascripts/JSXTransformer-0.13.3.js')
  script(src='/javascripts/react-0.13.3.js')
  script(src='/javascripts/react-webcam.js')
  
block content
  div.container
    div.row
     div.col-xs-8
      button.btn.btn-info.start(type='button', id='', onclick='login()') Login
