extends layout
block extra_js
  link(rel='stylesheet', href='/stylesheets/dhtmlxscheduler.css')
  script(src='/javascripts/dhtmlxscheduler.js')
  script(src='/javascripts/planner.js')
block content
 div.container
  div.jumbotron
   #myscheduler
    .dhx_cal_header
    .dhx_cal_data
      
