extends layout
block extra_js
  script(src='/javascripts/preferences.js')

block content
  div.container
    div.jumbotron
      h4= title
      form(role='form',method='post')
       .form-group
        label(for='email') Email address:
        input#email.form-control(type='text',name='mail',value='#{mail}' )
       .form-group
        label(for='pwd') Password:
        input#pwd.form-control(type='text',name='pwd')
       .checkbox
        label
          input(type='checkbox')
          |  Remember me
       button.btn.btn-default(type='submit') Submit
      
