h3 Contact Details

form.form-horizontal(name="form", ng-submit="submit()", novalidate)
  .control-group(ng-class="errorClass('name')")
    label.control-label(for="name") Name
    .controls
      input(ng-model="conf.name", type="text", name="name", placeholder="Name", require, autofocus)

  .control-group(ng-class="errorClass('enable')")
    label.control-label(for="enable") Enable
    .controls
      input(ng-model="conf.enable", type="text", name="enable", placeholder="Enable", require)

  .control-group(ng-class="errorClass('gpio')")
    label.control-label(for="gpio") Gpio
    .controls
      input(ng-model="conf.gpio", type="text", name="gpio", placeholder="gpio", require)

  .control-group(ng-class="errorClass('pin')")
    label.control-label(for="pin") pin
    .controls
      input(ng-model="conf.pin", type="text", name="pin", placeholder="pin", require)

  .control-group(ng-class="errorClass('start')")
    label.control-label(for="start") Start
    .controls
      input(ng-model="conf.start", type="text", name="start", placeholder="start", require)

  .control-group(ng-class="errorClass('stop')")
    label.control-label(for="stop") Stop
    .controls
      input(ng-model="conf.stop", type="text", name="stop", placeholder="stop", require)

  .control-group(ng-class="errorClass('target')")
    label.control-label(for="target") Target
    .controls
      input(ng-model="conf.target", type="text", name="target", placeholder="target")

  .control-group(ng-class="errorClass('rate')")
    label.control-label(for="rate") Rate
    .controls
      input(ng-model="conf.rate", type="text", name="rate", placeholder="rate")

  .control-group
    .controls
      a.btn(ng-click="cancel()") Cancel
      button.btn.btn-success(type="submit") Save

a(href="/conf/{{conf.id}}") Back