h3 Contact Details

div

  h5 Name: {{conf.name}}
  h5 gpio: {{conf.enable}}
  h5 gpio: {{conf.gpio}}
  h5 pin: {{conf.pin}}
  h5 start: {{conf.start}}
  h5 stop: {{conf.stop}}
  h5 target: {{conf.target}}
  h5 rate: {{conf.rate}}
  hr
  div
   a(href="/conf") Back
   a(href="/conf/{{conf._id}}/edit") Edit
